.resume-page-container {
  display: flex;
  flex-direction: row;
  #skills-and-proficiencies {
    position: fixed;
    right: 0;
    width: 25%;
  }
  #resume-work-experience {
    width: 75%;
    .experience {
      header {
        padding: 0 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #666;
        height: 75px;
        h1 {
          font-size: 200%;
          color: white;
          span {
            color: white;
            font-size: 50%;
          }
        }
      }
    }
  }
}