.resume-page-container {
  display: flex;
  flex-direction: row;
  #skills-and-proficiencies {
    position: fixed;
    right: 0;
    width: 25%;
  }
  #resume-work-experience {
    width: 75%;
  }
  .experience {
    padding: 10%;
    header {
      display: flex;
      align-items: center;
      padding-left: 5%;
      background-color: #666;
      height: 75px;
      h1 {
        font-size: 200%;
        color: white;
        span {
          color: white;
          font-size: 50%;
        }
      }
      h2 {
        font-size: 100%;
      }
    }
  }
}