.site-header {
  background-image: url("../../assets/HeaderImageWhite.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  z-index: 10000;
  height: 150px;
  width: 100vw;
  color: aqua;
  transition: background-image .8s;
  .nav-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 55px;
    right: 5%;
    width: 40%;
    @media only screen and (max-width: 1268px){
      top: 10px;
    }
    @media only screen and (max-width: 1156px){
      top: 150px;
      right: 10%;
      width: 80%;
    }
    a.nav-button {
      display: flex;
      width: 10vw;
      height: 30%;
      margin: 0 10px;
      color: #777;
      background-color: black;
      text-decoration: none;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-family: 'Stalinist One', sans-serif;
      font-size: .75em;
      border: solid 3px #777;
      padding: 1em;
      border-radius: 20px;
      transition: color .4s, border .5s, transform .8s;
    }
    a.nav-button:hover {
      transform: scale(1.1, 1.1);
    }
    a.nav-button:nth-child(1):hover, a.nav-button.active:nth-child(1){
      border: solid 3px #00d8eb;
      color: #00d8eb;
    }
    a.nav-button:nth-child(2):hover, a.nav-button.active:nth-child(2){
        border: solid 3px #FF009C;
        color: #FF009C;
    }
    a.nav-button:nth-child(3):hover, a.nav-button.active:nth-child(3){
      border: solid 3px #f6ff00;
      color: #f6ff00;
    }
    a.nav-button:nth-child(4):hover, a.nav-button.active:nth-child(4){
      border: solid 3px #D70000;
      color: #D70000;
    }
  }

}

.nav-projects {
  background-image: url("../../assets/HeaderImageBlue.png");
}

.nav-music {
  background-image: url("../../assets/HeaderImageMagenta.png");
}

.nav-resume {
  background-image: url("../../assets/HeaderImageYellow.png");
}

.nav-arcade {
  background-image: url("../../assets/HeaderImageRed.png");
}
